.settings-container{
    height: 130vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.settings-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*settings-header*/

.settings-header{
    position: fixed;
    z-index: 1;
    width: 100%;
    background: white;
    height: 65px;
    border-bottom: 1px solid #d3cbcb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.settings-header-left{
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    align-items: center;
}

.settings-header-icon{
    font-size: 24px;
    color: green;
}

.settings-header-select{
    display: flex;
    flex-direction: row;
    border: 1px solid #d3cbcb;
    padding: 5px;
    border-radius: 6px;
}
.settings-header-select-settings{
    min-height: 100%;
    border-left: 1px solid #d3cbcb;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: green;
    
}

.organization-h1{
    color: green;
    margin-top: 10px;
}

.accsess-manager{
    border: none;
    outline: none;
}


.settings-header-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 18px;
    margin-right: 15px;
}

.settings-header-first-select{
    border: none;
    outline: none;
}
.settings-header-second-select{
    border: none;
    outline: none;
}

.select-div{
    padding: 5px;
    border: 1px solid #d3cbcb;
    border-radius: 19px;
}



.settings-list-info{
    color: green;
    font-size: 14px;
}

.setting-desc{
    margin-top: 100px;
    margin-left: 189px;
}




/*side bar*/
.settings-sidebar{
    background-color: rgb(243, 243, 243);
    position: fixed;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.settings-list-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings-list{
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.settings-list:hover{
    background-color: rgb(166, 174, 175);
    
}

/*settings info*/



.settings-userinfo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 65px;
    margin-top: 105px;
}

.info-settings{
    background-color: #fff;
    height: 15vh;
    width: 25%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #d3cbcb;
    border: 1px solid #d3cbcb;
}

.info-settings h3{
   margin-top: 15px;
   margin-left: 15px;
}

.settings-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}


.settings-item{
    background-color: #fff;
    width: 75%;
    height: 15vh;
    border-radius: 16px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px #d3cbcb;
    border: 1px solid #d3cbcb;
    
}
.settings-item-header{
    display: flex;
    justify-content: space-between;
}

.settings-toggle{
    
}








.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}



.settings-button{
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}
.settings-button:hover{
    background-color: rgb(9, 94, 9);
}